{% extends "base.html" %}

{%block content%}
<div class="container" style="margin-top: 5px;">
  <div class="alert alert-secondary" role="alert">
    <b>วิธีการใช้งาน</b><br>
    <ul>
      <li>ช่อง Password -> นำไปใช้กับอุปกรณ์กล้อง</li>
      <li>ช่อง Decompress -> นำไปถอดรหัสเป็น Mac Address ในกรณีต้องการทราบว่ารหัสนี้เป็นของกล้องตัวไหน</li>
    </ul>
  </div>
  <table class="table table-bordered table-sm" id="showData">
    <thead>
      <tr>
        <td>#</td>
        <td style="background-color: #FEF9E7;">Mac Address</td>
        <td>Device name</td>
        <td>camara name</td>
        <td>Customer</td>
        <td>Site</td>
        <td style="background-color: #EAFAF1;"><b>Password</b></td>
        <td style="background-color: #D5D8DC;">Decompress</td>
        <td style="background-color: #FDEBD0;">Generate at</td>
      </tr>
    </thead>
    {% for row in data.itertuples() %}
    <tr>
      <td>{{ loop.index }}</td>
      <td style="background-color: #FEF9E7;">{{row.mac_address}}</td>
      <td>{{row.device_name}}</td>
      <td>{{row.router_name}}</td>
      <td>{{row.customer}}</td>
      <td>{{row.site}}</td>
      <td style="background-color: #EAFAF1;"><b>{{row.pass1}}</b></td>
      <td style="background-color: #D5D8DC;">{{row.pass2}}</td>
      <td style="background-color: #FDEBD0;">{{row.update_dt}}</td>
    </tr>
    {% endfor %}
  </table>
</div>
<hr>
<div class="container">
  <a href="/" class="btn btn-warning">Reload</a>
</div>
<script>
  $(document).ready(function () {
    $('#showData').DataTable();
  });
</script>
{% endblock %}